.maindiv{
    background-color: antiquewhite;
    width: 100%;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerdiv{
    background-color: white;
    height: 350px;
    width: 650px;
    display: inline-block;
    justify-content: center;
    text-align: center;
}
.heding-main{
    color: rgb(22, 22, 184);
    font-size: larger;
}
#btn1{
    background-color: rgb(51, 51, 202) ;
    color: aliceblue;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;

}
#over{
    height: 25px;
}
#matchstart{
    display: none;
}
#matchstart h3{
    color: rgb(22, 22, 184);
    margin-right: 40px;
}
#matchdetails{
    display: inline;
}
#scoresContainer {
    display: flex;
    align-items: center;
}
#currentover{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin-left:80px ;
}
#currentscore{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 40px;
    width: 80px;
    border-radius: 5px;
     margin-left: 100px;
}
#wicket{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    margin-left: 100px;
}
#scorevalue{
    display: flex;
    align-items: center;
}
.btnscoreval{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    margin-left: 25px;
    cursor: pointer;
}
#notification1{
    background-color: whitesmoke;
    height: 40px;
    width: 300px;
margin-left: 150px;
font-size:x-large;
color: rgb(22, 22, 184);
}
#notification2{
    background-color: whitesmoke;
    height: 40px;
    width: 300px;
margin-left: 150px;
margin-top: 120px;
font-size:x-large;
padding-top: 10px;
color: rgb(22, 22, 184)

}
#targetshow{
    display: none;
}
#targetdiv{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 150px;
    padding-top: 9px;
}
#btn2{
    background-color: rgb(51, 51, 202) ;
    color: aliceblue;
    height: 35px;
    border-radius: 5px;
margin-left: 200px;
cursor: pointer;
}
#btn3A{
    background-color: rgb(51, 51, 202) ;
    color: aliceblue;
    height: 35px;
    border-radius: 5px;
cursor: pointer;
margin-left: 10px;
}
#btn3B{
    background-color: rgb(51, 51, 202) ;
    color: aliceblue;
    height: 35px;
    border-radius: 5px;
cursor: pointer;
margin-left: 10px;
}

/* paly part 2  */

#matchhalf2{
display: none;
}

/* #currentoverB{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin-left:80px ;
}
#currentscoreB{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 40px;
    width: 80px;
    border-radius: 5px;
     margin-left: 100px;
}
#wicketB{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    margin-left: 100px;
} */

#scoresContainerB {
    display: flex;
    align-items: center;
}
#currentoverB{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin-left:40px ;
}
#currentscoreB{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin-left: 60px;
}
#wicketB{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    margin-left: 60px;
}
#targetdiv2{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    margin-left: 60px;
}
#scorevalueB{
    display: flex;
    align-items: center;
}
.btnscorevalB{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    margin-left: 25px;
    cursor: pointer;
}
#notification1B{
    background-color: whitesmoke;
    height: 40px;
    width: 300px;
    margin-left: 150px;
    font-size:x-large;
    color: rgb(22, 22, 184);
}
#notification2B{
    background-color: whitesmoke;
    height: 40px;
    width: 300px;
    margin-left: 150px;
    margin-top: 120px;
    font-size:x-large;
    padding-top: 10px;
    color: rgb(22, 22, 184);
}
#targetshowB{
    display: none;
}
#targetdivB{
    background-color:rgb(22, 22, 184) ;
    color: aliceblue;
    justify-content: center;
    font-size: larger;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 150px;
    padding-top: 9px;
}
#btn2B{
    background-color: rgb(51, 51, 202) ;
    color: aliceblue;
    height: 35px;
    border-radius: 5px;
    margin-left: 200px;
    cursor: pointer;
}
#btn3AB{
    background-color: rgb(51, 51, 202) ;
    color: aliceblue;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
#btn3BB{
    background-color: rgb(51, 51, 202) ;
    color: aliceblue;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
#resultshow{
    display: none;
}
#finalresultnotification{
    background-color: rgb(247, 249, 249);
    height: 100px;
    width: 400px;
    margin-left: 130px;
    margin-top: 100px;
    border-radius: 10px;
    padding-top: 70px;
    font-size: larger;
}


/* Responsive styles */
@media (max-width: 1200px) {
    #centerdiv {
        width: 80%;
    }
    .btnscoreval, .btnscorevalB, #currentover, #currentscore, #wicket, #currentoverB, #currentscoreB, #wicketB, #targetdiv2 {
        width: 60px;
        font-size: medium;
    }
}

@media (max-width: 768px) {
    #centerdiv {
        width: 90%;
    }
    .btnscoreval, .btnscorevalB, #currentover, #currentscore, #wicket, #currentoverB, #currentscoreB, #wicketB, #targetdiv2 {
        margin-left: auto;
        width: 80px;
        height: 35px;
        font-size: small;
    }
    #finalresultnotification {
        width: 70%;
        margin-left: 80px;
        font-size: medium;
    }
    #notification1,  #notification1B{
        margin:auto;
        width: 60%;
        font-size: large;
    }
    #notification2,#notification2B {
       margin-top: 130px;
       margin-left: 90px;
        width: 60%;
        font-size: large;
    }
}

@media (max-width: 480px) {
    #centerdiv {
        width: 95%;
    }
    .btnscoreval, .btnscorevalB,  #targetdiv2 {
        width: 40px;
        height: 30px;
        font-size: x-small;
    }
    #currentover, #currentscore,#wicketB, #wicket, #currentoverB, #currentscoreB{
        margin-left: 10px;
    }
    #finalresultnotification {
        margin-left: 20px;
        width: 80%;
        font-size: small;
    }
    #notification1, #notification2{
        margin-top:140px;
        margin-left: 30px;
        width: 80%;
    
    }
    #notification1B, #notification2B {
        margin-top:140px;
        margin-left: 100px;
        width: 80%;
    }
}

